body {
    margin: 20px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-left: -1px;
    margin-top: -1px;
    padding: 0px;
    text-align: center;
    width: 34px;
}

.square:focus{
    outline: none;
}

.game{
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.board-row:after {
clear: both;
display: table;
content: "";
}

